language: php

php:
  - 7.0
  - 7.1

env:
  matrix:
    - COMPOSER_FLAGS="--prefer-lowest"
    - COMPOSER_FLAGS=""

before_script:
  - travis_retry composer self-update
  - travis_retry composer update ${COMPOSER_FLAGS} --no-interaction --prefer-source

script:
  - vendor/phpunit/phpunit/phpunit --coverage-text --coverage-clover=coverage.clover

after_script:
  - wget https://scrutinizer-ci.com/ocular.phar
  - php ocular.phar code-coverage:upload --format=php-clover coverage.clover

notifications:
  slack:
    rooms:
      - secure: 18nUGLEZ9RZrK629YtCknYc+Em0mmYdufT36GPwaS28k8JtbcmoMleMg1zmO49DJBvMnVLYnLver014gHylRssc1+edeZRnp8DefYNCmnnXcJTIi9xZH/Zj4EIlktHgScBKfASvP0ZSQi9EOGlMOveWLvAzcSgo1S/cgyDvKtPmZIG7De0y17tJHQbuFhqCaoKwC61mE+GVxV/hbPcXjxSnlVZ1CLWeIbORUEbKzzaaPCtFE8buXBCbILj0YBL0TtXwiOm3buF5sKl7UBEBRM70AozEEd5IElcbwY8YwGGR6Ipd+h6vXK9MxKxhFaOAZuxKFOEyqvOm0ElUkLfAa9vHHPgPFzTV7s16IzdJE70KOLPHlygqO4bRyPDqxAgD/ttY7ILDHp9lxlFiDlCsW0xDTzdtZk3BhvC/b0r4nZEPSutdihrSRqGYTgBzEIFntbdlWaJwonT1DkUkGUEMJ0L40qWWJnPT7Cvf8YIorEBdeuAtSl98iTRR+kS0fS2RSTIvuBTPIC7qsPLseWh9SqJ9QV/KKITz6eNoEn+PYkdtjCh6qz8Xc0StKDXXIVE+07As+sEiBp3MrZj9b6aMUJFaOCS6o8dYY/+mssGf4zsbSqG6dAzTpu8W3NxAyJVPzedpgp7Paw924yjrc/Kc/gbYJ2QcS5nPWSJIErV2vjac=
